<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="css/styleSignin.css" />
    <meta
      name="google-signin-client_id"
      content="192628745978-9tiubs4je4f82nsin3h91gb5ihbltkvj.apps.googleusercontent.com"
    />
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <form action="/cart" method="post">
      <input type="text" name="ID" id="ID" style="display: none" />
      <input type="submit" id="submit" value="submit" style="display: none" />
    </form>

    <h1 id="baseSign">Please sign in using your google account to access your cart:</h1>

    <div id="sign">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
      <button id="confirmSign" type="button" onclick="googleButton()">Confirm</button>
    </div>

    <div id="prevStoreAcc">
      <h1>Or Sign in Using Your Store Account:</h1>

      <label>Username:
      <input type="text" name="username" id="username">
      </label> <br>
      <label>Password:
      <input type="password" name="pass" id="pass">
      <p id="msg"></p>
      </label>
      <button type="button"onclick='signin()'>Sign In</button>
    </div>

    <div id="newStoreAcc">
      <h1>Sign up to Create a New Account:</h1>
      <button onclick="location.href='/signup'">Sign Up</button>
    </div>
    <%- include('partials/footer.ejs') %>

    <script>
      
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var currentUser = {};
        currentUser.ID = profile.getId();
        currentUser.Name = profile.getName();
        sessionStorage.setItem("googleUser", JSON.stringify(currentUser));
    }

      function googleButton(){
        var profile = JSON.parse(sessionStorage.getItem("googleUser"));
        var currentUser = {ID: profile.ID, name: profile.Name};
        if(currentUser){
          sessionStorage.setItem("currentUser", JSON.stringify(currentUser));
          window.location.href = "/index";
        }
      }

      function signin() {
        if(document.getElementById('pass')!= "" && document.getElementById('username')!= "" ){
        fetch("/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            username: document.getElementById('username').value,
            password: document.getElementById('pass').value,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
             if(data == "wrong username or password"){
              document.getElementById('msg').innerHTML='Username or Password are invalid';
            } else if(data == "user not found"){
              document.getElementById('msg').innerHTML='Username does not exist';
            } else{
              let currentUser = {ID: data, name: document.getElementById('username').value};
              sessionStorage.setItem("currentUser", JSON.stringify(currentUser));
              window.location.href = ('/index');
            }
          })
          .catch(function (err) {
            console.error(err);
          });
        }
        else{
          document.getElementById('msg').innerHTML='Please insert Username and Password';
        }
      }
      //sets id in <form> to user.id
      function cart() {
        if (sessionStorage.getItem("currentUser")) {//checks if user is signed in
          user = JSON.parse(sessionStorage.getItem("currentUser"));
          document.getElementById("ID").value = user.ID;
          document.getElementById("submit").click();
        } else {
          window.location.href = "signin";
        }
      }

      //logout button from navigation
      function logout() {
        sessionStorage.clear();
      }
    </script>
  </body>
</html>
