@font-face {
  font-family: "zen";
  src: url(fonts/Zen_Antique_Soft/ZenAntiqueSoft-Regular.ttf);
}
@font-face {
  font-family: "cedar";
  src: url(fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf);
}
body {
  height: 100%;
  min-height: 100%;
  margin: 0px;
  background-color: beige;
}

#logo {
  padding: 5px;
  margin-right: 10px;
  float: left;
  width: 10%;
  height: 10%;
  border-right-color: black;
  border-right-width: 3px;
  border-right-style: groove;
}

.logo {
  background-color: beige;
  overflow: hidden;
}
#intro {
  padding-top: 5px;
  font-size: 60px;
  font-family: "cedar";
  text-align: center;
  margin: 0px 0px -5px;
  text-shadow: 5px 5px rgb(0, 0, 0, 0.2);
}
#navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  overflow: auto;
}
#navbar li:nth-last-child(2) {
  margin-left: 80px;
  float: right;
}

#navbar li {
  display: inline-block;
  width: 150px;
  height: 40px;
  background-color: rgba(78, 78, 78, 0.5);
  text-align: center;
  padding-top: 15px;
  margin-right: 5px;
  font-family: "zen";
}
#navbar li a {
  text-decoration: none;
  color: beige;
}
#navbar li:hover a {
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in;
}
#navbar li:hover {
  background-color: whitesmoke;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

h1 {
  font-family: fantasy;
  margin-left: 200px;
}

.grid-container {
  padding: 20px 40px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 10px 100px;
  background-color: rgba(0, 0, 0, 0.8);
}

.grid-item {
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  padding-bottom: 10.5px;
  width: 100%;
  border: 2px solid beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.deleteicons{
  float: right;
  width: 4%;
  height: 4%;  
}
.deleteicons:hover{
  cursor: pointer;
}

.quantityButtons{
  display: flex;
  flex-direction: column;
}

.quantityButtons button{
  text-align: center;
  padding: 5px 10px;
  background-color: beige;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.quantityButtons button:hover{
  cursor: pointer;
}

.modelimg {
  justify-content: left;
  width: 20%;
  height: 20%;
  border-radius: 20px;
  padding: 10px 10px 0px 10px;
}

.flag {
  margin: 0px;
  text-align: center;
  font-family: "zen";
  font-size: 20px;
  color: beige;
  width: 20%;
}
#total{
  display: flex;
  justify-content:end;
  font-size: 20px;
}
#checkout_button {
  cursor: pointer;
  display: block;
  font-family: "zen";
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  color: beige;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto auto 10px auto;
  border-radius: 4px;
}
#footer {
  clear: both;
  position: relative;
  margin-top: 0px;
  bottom: 0px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  background-color: rgb(46, 46, 46);
  border: 5px groove rgb(68, 68, 68);
}

#footer ul {
  list-style-type: none;
  width: 200px;
  border-radius: 10px;
  border-left: 3px groove beige;
  padding: 5px 10px;
}

#footer a {
  font-family: "zen";
  text-decoration: none;
  color: beige;
}
#footer a:hover {
  text-decoration: underline;
}
#footer div {
  font-family: "zen";
  color: rgba(241, 241, 161, 0.637);
}
h3 {
  color: rgba(252, 240, 130, 0.85);
}
.social {
  width: 20%;
  height: auto;
}
#social li:hover {
  transform: translateY(-5px);
  transition: all 1s ease-in-out;
}
#social li {
  padding: 5px 0px;
}

@media screen and (max-width: 1100px) {
  #intro {
    font-size: 50px;
  }
  #bannerContainer p {
    font-size: 20px;
  }
  #footer li {
    font-size: 15px;
  }
  #footer img {
    width: 13%;
    height: auto;
  }
  h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 800px) {
  #intro {
    font-size: 30px;
  }
  #bannerContainer p {
    font-size: 14px;
  }
  #cycle img {
    left: 40px;
  }
  #footer li {
    font-size: 10px;
  }
  #footer img {
    width: 10%;
    height: auto;
  }
  h3 {
    font-size: 15px;
  }
  h1 {
    margin-left: 150px;
  }
  #navbar li {
    font-size: 15px;
    padding: 15px 0px 0px;
  }
  .flag {
    left: 32%;
  }
  #navbar li:nth-last-child(2){
  margin-left: 0px;
  float: none;
  }
}
@media screen and (max-width: 604px) {
  .grid-container {
    width: 80%;
    margin: auto auto 10px auto;
  }
  #navbar li {
    font-size: 10px;
  }
  #navbar li:nth-last-child(2){
  margin-left: 0px;
  padding-top: 2%;
  float: none;
  }
  #navbar li:nth-last-child(1){
  margin-left: 0px;
  padding-top: 2%;
  float: none;
  }
}
@media screen and (max-width: 550px) {
  .grid-container {
    width: 80%;
    margin: auto;
  }
  .grid-item .flag{
    font-size: 10px;
  } 
  .grid-item #quan{
    font-size: 10px;
  } 
  .checkout{
    margin-top: 30px;
  }
}
@media screen and (max-width: 426px) {
  #intro {
    font-size: 20px;
  }
  #footer li {
    font-size: 10px;
  }
  #footer img {
    width: 10%;
    height: auto;
  }
  h3 {
    font-size: 15px;
  }
  h1 {
    margin-left: 100px;
  }
  #navbar li {
    font-size: 15px;
    padding: 15px 0px 0px;
  }
  /* .grid-container {
    display: block;
  }
  .grid-item {
    margin-bottom: 20px;
  } */
  .flag {
    left: 20%;
  }
}
