<div id="footer">
      
        <ul>
          <h3>Categories</h3>
          <li><a href="guitars">Guitars</a></li>
          <li><a href="bass">Bass</a></li>
          <li><a href="drums">Drums</a></li>
          <li><a href="keyboards">Keyboards</a></li>
          <li><a href="topDeals">Top Deals</a></li>
        </ul>
        
        <ul>
          <h3>Contact us</h3>
          <li> <div>By phone:</div> <a href="tel:+">+96178927602</a></li>
          <li> <div>By e-mail:</div> <a href="mailto:">omar.alrafei@lau.edu</a></li>
        </ul>
  
        
        <ul id="social">
          <h3>Social Media</h3>
          <li><a href="https://facebook.com/" target="_"><img class="social" src="images/f_logo_RGB-White_1024.png" alt="">/OmarsInstruments</a></li>
          <li><a href="https://instagram.com/" target="_"><img class="social" src="images/instagram white.png" alt="">/OmarsInstruments</a></li>
          <li><a href="https://twitter.com/" target="_"><img class="social" src="images/2021 Twitter logo - white.png" alt="">/OmarsInstruments</a></li>
        </ul>