<div id="navigation">
            <div class="logo">
              <a  href="/index"><img src="images/OmarLogo.png" alt="" id="logo"></a>
              <p id="intro">Welcome to the World of Sound</p>
            </div>
            <ul id="navbar">
              <li onclick="location.href='guitars';"><a>Guitars</a></li>
              <li onclick="location.href='bass';"><a>Bass</a></li>
              <li onclick="location.href='drums';"><a>Drums</a></li>
              <li onclick="location.href='keyboards';"><a>Keyboards</a></li>
              <li onclick="location.href='topDeals';"><a>Top Deals</a></li>
              <li id="cart_icon" onclick="cart()"><a><img src="white-24dp/1x/outline_shopping_cart_white_24dp.png" alt="An image"/></a></li>
              <li onclick="logout()"> <img src="images/logout.png" alt=""></li>
            </ul>
      </div>